In [21]:
import json
import pandas as pd


data_file=r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\stored_data.json"
with open(data_file, 'r') as file:
    ds = json.load(file) 




df = pd.DataFrame(ds)



#df = pd.DataFrame(ds,columns=['NCBI Accession Number','Definition','Source','Organism', 'Isolation Source', 'Coolection Date', 'Country', 'Taxon ID', 'BioProject', 'Biosample', 'Ref'  ])


#note: in some truncations, might be some repeated items, need to clean 
#note: i=1814 failed


#def unique(lists):
#    unique_list = pd.Series(lists).drop_duplicates().tolist()
#    for x in unique_list:
#        print(x)
#unique(lists)

In [22]:


# Path to your text file 

file_path = r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output2.txt" 

  

# Read the file and create a DataFrame 

with open(file_path, 'r') as file: 

    file_contents = file.readlines() 

df2 = pd.DataFrame([line.strip() for line in file_contents], columns=['Data'])

In [61]:
df3=df3.drop([4562, 4563])

In [59]:
df3=df3.drop('level_0', axis=1)

In [63]:
for i in range(4562):
    if df3.iloc[i,0]!=df2.iloc[i,0]:
        print(i)

1814

In [67]:
datalist = df3.values.tolist()
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output.json"
with open(output_file_path,'w') as file:
    json.dump(datalist, file)

In [5]:
import json
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output.json"
with open(output_file_path, 'r') as file:
    dataset_0=json.load(file)

In [6]:
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output_5000-8000.json"
with open(output_file_path, 'r') as file:
    dataset_1=json.load(file)

In [7]:
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output_8000-11000.json"
with open(output_file_path, 'r') as file:
    dataset_2=json.load(file)

In [8]:
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output_11000-14000.json"
with open(output_file_path, 'r') as file:
    dataset_3=json.load(file)

In [9]:
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output_14000-17000.json"
with open(output_file_path, 'r') as file:
    dataset_4=json.load(file)

In [10]:
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output_17000-20000.json"
with open(output_file_path, 'r') as file:
    dataset_5=json.load(file)

In [11]:
output_file_path =r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\output_20000-21753.json"
with open(output_file_path, 'r') as file:
    dataset_6=json.load(file)

In [45]:
import pandas as pd
import numpy as np
result_list=dataset_0+dataset_1+dataset_2+dataset_3+dataset_4+dataset_5+dataset_6
result_df=pd.DataFrame(result_list)
df_original = result_df

columns_to_replace = range(4,6)
result_df.iloc[:,4:7]=result_df.iloc[:,4:7].replace('0',np.nan)

column_names=['Gene Accession Number','Gene Definition', 'Sample Source', 'Gene Organism', 'Isolation Source', 'Collection Date', 'Collection Country', 'Taxon ID', 'BioProject', 'BioSample', 'Assembly', 'Reference']
result_df.columns = column_names + result_df.columns[12:].tolist()

df2=result_df

In [46]:
 



df = result_df


# Define a function to check if a value starts with a specific string 

def check_startswith(value, prefix): 

    if pd.isna(value): 

        return False 

    return str(value).startswith(prefix) 

def indent_row(row):

    sorted_row = row.values[np.argsort(row.isna())]

    return pd.Series(sorted_row,index=row.index)
  

# Replace values in "BioProject", "BioSample", and "Assembly" columns that do not start with the respective strings 

for col in ["BioProject", "BioSample", "Assembly"]: 

    df[f'{col}_invalid'] = df[col].apply(lambda x: x if not check_startswith(x, col) else np.nan) 

    df[col] = df[col].apply(lambda x: x if check_startswith(x, col) else np.nan) 

  



# Move invalid data to the end of the dataframe 

invalid_columns = [col for col in df.columns.astype(str) if col.endswith('_invalid')]  # Convert column names to strings 

df_invalid = df[invalid_columns] 

df.drop(columns=invalid_columns, inplace=True) 

df = pd.concat([df, df_invalid], axis=1) 

  

# Rename columns after "Assembly" 

assembly_index = df.columns.get_loc("Assembly") 

new_column_names = {df.columns[i]: f"Reference_{i-assembly_index}" for i in range(assembly_index + 1, len(df.columns))} 

df.rename(columns=new_column_names, inplace=True) 

column_names = df.columns.tolist()

# Indentation of references

get_assembly_index = df.columns.get_loc("Assembly")

df.iloc[:,get_assembly_index+1:] = df.iloc[:,get_assembly_index+1:].apply(indent_row, axis=1)

df.columns = column_names

#

df['BioSample'] = df.apply(lambda row: row['Reference_2'] if check_startswith(row['Reference_2'], 'BioSample:') else row['BioSample'], axis=1) 

df['Reference_2'] = df.apply(lambda row: np.nan if check_startswith(row['Reference_2'], 'BioSample:') else row['Reference_2'], axis=1) 

df['Assembly'] = df.apply(lambda row: row['Reference_1'] if check_startswith(row['Reference_1'], 'Assembly:') else row['Assembly'], axis=1) 

df['Reference_1'] = df.apply(lambda row: np.nan if check_startswith(row['Reference_1'], 'Assembly:') else row['Reference_1'], axis=1) 

 
# Indentation of references

get_assembly_index = df.columns.get_loc("Assembly")

df.iloc[:,get_assembly_index+1:] = df.iloc[:,get_assembly_index+1:].apply(indent_row, axis=1)

df.columns = column_names


# Display the first few rows of the modified DataFrame 

df.head()

,Gene Accession Number,Gene Definition,Sample Source,Gene Organism,Isolation Source,Collection Date,Collection Country,Taxon ID,BioProject,BioSample,...,Reference_22,Reference_23,Reference_24,Reference_25,Reference_26,Reference_27,Reference_28,Reference_29,Reference_30,Reference_31
0,X04555.1,IncC multiresistance plasmid pDGO100 aadB gene...,uncultured bacterium,uncultured bacterium,NaN,NaN,NaN,taxon:77133,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
1,X12868.1,Plasmid pLMO20 dhfrV gene for trimethoprim res...,Plasmid pLMO20,Plasmid pLMO20,NaN,NaN,NaN,taxon:88772,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
2,X12870.1,Transposon Tn21 (plasmid R6-5) aadA-sulI regio...,Escherichia coli,Escherichia coli,NaN,NaN,NaN,taxon:562,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
3,M84965.1,"B.subtilis groES and groEL genes, complete cds's",Bacillus subtilis,Bacillus subtilis,NaN,NaN,NaN,taxon:1423,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
4,M60473.1,R100.1 plasmid/bacteriophage T4/synthetic amin...,synthetic construct,synthetic construct,NaN,NaN,NaN,taxon:32630,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None

In [51]:

csv_file_path = r"C:\Users\seanji\Desktop\IntNet-sean-s-branch\final_2.csv"
df.to_csv(csv_file_path,index=False)